<div class="col">
  <div class="tab-content" style="width: 100%;" id="">
    <form>
      <br>

        <div class="row">

          <div class="col">
            <label for="formGroupExampleInput">City</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="City">
          </div>

          <div class="col">
            <label for="formGroupExampleInput">Hotel name</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Hotel name">
          </div>
        </div>

        <div class="row">

          <div class="col">
            <label for="formGroupExampleInput">Check in date</label>
            <input type="date" class="form-control" id="formGroupExampleInput" placeholder="Check in">
          </div>

          <div class="col">
            <label for="formGroupExampleInput2">Check in time</label>
            <input type="time" class="form-control" id="formGroupExampleInput2" placeholder="Time">
          </div>

        </div>

        <div class="row">


          <div class="col">
            <label for="formGroupExampleInput2">Check out date</label>
            <input type="date" class="form-control" id="formGroupExampleInput2" placeholder="Date">
          </div>

          <div class="col">
            <label for="formGroupExampleInput2">Check out time</label>
            <input type="time" class="form-control" id="formGroupExampleInput2" placeholder="Select time">
          </div>
        </div>

    </form>

  </div>

</div>
