div {
    text-align: center;
    font-family: "Oxygen", Arial, Helvetica, sans-serif;
  }

  .input .emoji-mart{
    width: 100%;
  }

  .emoji-mart-scroll{
    height: 200px;
  }

  .emoji-mart{
    width: 100%;
    max-height: 435px;
  }
  