  <div class="col">
    <div class="tab-content" style="width: 100%;" id="">
      <form>
        <br>
        <div class="row">

          <div class="col">
            <label for="formGroupExampleInput">Pick up place</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Place">
          </div>

          <div class="col">
            <label for="formGroupExampleInput">Pick up date</label>
            <input type="date" class="form-control" id="formGroupExampleInput" placeholder="Date">
          </div>

          <div class="col">
            <label for="formGroupExampleInput">Pick up time</label>
            <input type="time" class="form-control" id="formGroupExampleInput" placeholder="Select time">
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="formGroupExampleInput2">Destination place</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Place">
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="formGroupExampleInput2">Destination place</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Place">
          </div>

          <div class="col">
            <label for="formGroupExampleInput2">Return date</label>
            <input type="date" class="form-control" id="formGroupExampleInput2" placeholder="Date">
          </div>

          <div class="col">
            <label for="formGroupExampleInput2">Return time</label>
            <input type="time" class="form-control" id="formGroupExampleInput2" placeholder="Select time">
          </div>
        </div>

        <!-- <div class="row"> -->
        <!-- </div> -->

      </form>

    </div>

  </div>
