<div class="col">
  <div class="tab-content" style="width: 100%;" id="">
    <form>
        <br>

      <div class="row">
        <div class="col">
          <section class="example-section">
            <mat-checkbox class="example-margin">One Way</mat-checkbox>
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="formGroupExampleInput">Departure Station</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Departure Station">
        </div>

        <div class="col">
          <label for="formGroupExampleInput">Departure Date</label>
          <input type="date" class="form-control" id="formGroupExampleInput" placeholder="Select Date">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="formGroupExampleInput2">Departure Time</label>
          <input type="time" class="form-control" id="formGroupExampleInput2">
        </div>

        <div class="col">
          <label for="formGroupExampleInput2">Destination Estation</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Destination">
        </div>

      </div>

      <div class="row">

        <div class="col">
          <label for="formGroupExampleInput2">Return Destination</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Return Destination">
        </div>

      </div>


      <div class="row">
        <div class="col">
          <label for="formGroupExampleInput2">Return Date</label>
          <input type="date" class="form-control" id="formGroupExampleInput2" placeholder="Return Date">
        </div>
        <div class="col">
          <label for="formGroupExampleInput2">Return Time</label>
          <input type="time" class="form-control" id="formGroupExampleInput2">
        </div>
      </div>


    </form>
  </div>
</div>
