<div class="container">
  <div class="row">
    <div class="col">
      <button mat-button (click)="onNoClick()" style="float: right;">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <h4>Passenger</h4>
    </div>
    <div class="col-10 line"></div>
  </div>

  <div class="row">

    <div class="col-4" style="background-color: #CED2D6; margin: 5px;">
      <div class="row">
        <div class="col">
          <p><strong>Name</strong></p>
        </div>
        <div class="col">
          <p>Jose Antonio</p>
        </div>
      </div>
    </div>

    <div class="col" style="background-color: #CED2D6;margin: 5px;">
      <div class="row">
        <div class="col">
          <p><strong>Lastname 1</strong></p>
        </div>
        <div class="col">
          <p>Morrillas</p>
        </div>
      </div>
    </div>

    <div class="col" style="background-color: #CED2D6;margin: 5px;">
      <div class="row">
        <div class="col">
          <p><strong>Lastname 2</strong></p>
        </div>
        <div class="col">
          <p>Casais</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4" style="background-color: #CED2D6;margin: 5px;">
      <div class="row">
        <div class="col">
          <p><strong>DNI</strong></p>
        </div>
        <div class="col">
          <p>72705412Y</p>
        </div>
      </div>
    </div>

    <div class="col" style="background-color: #CED2D6;margin: 5px;">
      <div class="row">
        <div class="col">
          <p><strong>Birthdate</strong></p>
        </div>
        <div class="col">
          <p>12/05/1975</p>
        </div>
      </div>
    </div>

    <div class="col" style="background-color: #CED2D6;margin: 5px;">
      <div class="row">
        <div class="col">
          <p><strong>Passport</strong></p>
        </div>
        <div class="col">
          <p>XO523821F</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4" style="background-color: #CED2D6;margin: 5px;">
      <div class="row">
        <div class="col">
          <p><strong>Date of Expiry</strong></p>
        </div>
        <div class="col">
          <p>24/08/2026</p>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- <div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div> -->
