<div class="example-container mat-elevation-z8 ">
  <mat-drawer-container class="drawer-container">

    <mat-drawer mode="side" opened class="left-drawer">
      <!-- <div class="usersDiv">
        <div class="users-pane">
          <mat-card class="users-card">
            <button type="button" mat-button matSuffix mat-icon-button aria-label="Exit" (click)="exitChat()">
              <mat-icon>logout</mat-icon>
            </button>
          </mat-card>
          <mat-card class="users-card" *ngFor="let user of users">
            <mat-icon>person</mat-icon> <span class="username">{{user.nickname}}</span>
          </mat-card>
        </div>
      </div> -->

      <!-- <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
        <ngx-dropzone-label>
          <div>
            <h2>My custom dropzone</h2>
          </div>
        </ngx-dropzone-label>
        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-image-preview>
      </div> -->
      <!-- <ngx-dropzone-preview>
        <ng-template ngx-dropzone-preview-template let-file>
          <img *ngIf="file.type.includes('image')" [src]="file.dataURL" class="dropzone-image" />
          <div *ngIf="!file.type.includes('image')" class="dropzone-text">
            Arrastra y suelta una imagen aquí
          </div>
        </ng-template>
      </ngx-dropzone-preview> -->
    </mat-drawer>

    <mat-drawer-content class="chat-pane">
      <div class="chatContent">
        <div class="chat-message" id="dragzone" (dragover)="handleDragOver($event)" (drop)="handleFileSelect($event)">
          <div #chatcontent [scrollTop]="scrolltop" class="chat-content">
            <div>
              <mat-icon class="search-icon" (click)="openSearch()">search</mat-icon>
              <div class="boxClose" *ngIf="showSearch">
                <mat-icon class="close-icon closeSearch" (click)="closeSearch()">close</mat-icon>
              </div>
              <!-- Buscador de palabras -->
              <div *ngIf="search">
                <input type="text" [(ngModel)]="palabraBuscada" placeholder="Buscar palabra">
                <button (click)="buscarPalabra()">Buscar</button>
              </div>

            </div>
            <div class="message-box" *ngFor="let chat of chats" #chatPanel>
              <div #chatWord class="chat-status" text-center *ngIf="chat.type==='join'||chat.type==='exit';else message">
                <span class="chat-content-center">{{chat.message}}</span>
              </div>
              <ng-template #message>

                <!-- <div class="cardDrag dragzone" *ngIf="showDragZone === false" style="visibility: hidden;"> -->
                <form [formGroup]="chatForm" (ngSubmit)="onFormSubmit(chatForm.value)">
                  <div class="cardDrag dragzone" *ngIf="showDragZone">
                    <mat-icon class="close-icon" (click)="closeContainer()">close</mat-icon>
                    <mat-card class="principalCard">
                      <mat-card-header class="cardHeaders">
                        <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                          <ngx-dropzone-label>
                            <div>
                              <h2>Drag the file here</h2>
                            </div>
                          </ngx-dropzone-label>
                          <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" class="containerImageDragZone"
                            *ngFor="let f of files" [file]="f" [removable]="true">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                          </ngx-dropzone-image-preview>
                        </div>
                      </mat-card-header>

                      <mat-card-actions class="btnDragzoneSend">
                        <button mat-raised-button color="primary" type="submit">SEND</button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                </form>
                <!-- </div> -->


                <div class="right-bubble"
                  [ngClass]="{'right-bubble': chat.nickname === nickname, 'left-bubble': chat.nickname !== nickname}">

                  <span class="msg-name" *ngIf="chat.nickname === nickname && urlImage == '' ">Me</span>
                  <span class="msg-name" *ngIf="chat.nickname !== nickname && urlImage == '' ">{{chat.nickname}}</span>
                  <ng-container *ngIf="chat?.urlImage !== undefined">
                    <span class="msg-name" *ngIf="chat.nickname === nickname && urlImage == 'image'">Me</span>
                    <span class="msg-name"
                      *ngIf="chat.nickname !== nickname && urlImage == 'image'">{{chat.nickname}}</span>
                    <img class="imgSend" [src]="chat?.urlImage" draggable="true">
                  </ng-container>
                  <!-- <div *ngIf="imagePast">
                    <img class="imgSend" [src]="pasteImageSrc" alt="Pasted Image">
                  </div> -->
                  <p *ngIf="isTyping">Usuario está escribiendo...</p>
                  <p class="message-chat"> {{ chat.message }} </p>
                </div>
              </ng-template>
            </div>
          </div>


          <footer class="sticky-footer">
            <form class="message-form" [formGroup]="chatForm" (ngSubmit)="onFormSubmit(chatForm.value)">
              <mat-form-field class="message-form-field">
                <app-emojis *ngIf="showEmojiPicker" (emojiSelection)="handleEmojiClick($event)"></app-emojis>
                <div class="boxClose" *ngIf="showEmojiPicker">
                  <mat-icon class="close-icon closeEmoji" (click)="closeEmoji()">close</mat-icon>
                </div>
                <div class="boxFile"><input class="file-input" type="file" (change)="upload($event)" dropzone="copy"
                    accept=".png,.jpg" /> </div>
                <div class="boxEmoji"><a class="btnEmoji" (click)="showEmoji()" type="button">😀</a></div>
                <div class="boxMessage"><input class="inputMessage" matInput placeholder="Enter message here"
                    formControlName="message" [errorStateMatcher]="matcher" [value]="emojis.join('')" (paste)="handleImagePaste($event)"/></div>
                <mat-error>
                  <span *ngIf="!chatForm.get('message')?.valid && chatForm.get('message')?.touched">Enter your
                    message</span>
                </mat-error>
                <button type="submit" class="btnSubmit" [disabled]="!chatForm.valid" mat-button matSuffix
                  mat-icon-button aria-label="Send">
                  <mat-icon>send</mat-icon>
                </button>
              </mat-form-field>
            </form>
          </footer>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
