<div class="col">
    <div class="tab-content" style="width: 100%;" id="">
      <form>

        <br>
  
        <div class="row">
          <div class="col">
            <section class="example-section">
                <label for="formGroupExampleInput">Pick up place</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Pick up place">
            </section>
          </div>

          <div class="col">
            <label for="formGroupExampleInput">Pick up date</label>
            <input type="Date" class="form-control" id="formGroupExampleInput" placeholder="Select Date">
          </div>
  
          <div class="col">
            <label for="formGroupExampleInput">Pick up time</label>
            <input type="time" class="form-control" id="formGroupExampleInput">
          </div>
        </div>
  
        <div class="row">
          <div class="col">
            <label for="formGroupExampleInput2">Return place</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter return place ">
          </div>
  
          <div class="col">
            <label for="formGroupExampleInput2">Return date</label>
            <input type="date" class="form-control" id="formGroupExampleInput2" placeholder="Enter return date">
          </div>
  
          <div class="col">
            <label for="formGroupExampleInput2">Return time</label>
            <input type="time" class="form-control" id="formGroupExampleInput2">
          </div>
  
        </div>
  
      </form>
    </div>
  </div>
  