<div class="col">
    <div class="tab-content" style="width: 100%;" id="">
      <form>
        <br>
  
        <div class="row">
          <div class="col">
            <section class="example-section">
              <mat-checkbox class="example-margin">One Way</mat-checkbox>
            </section>
          </div>
        </div>
  
        <div class="row">
          <div class="col">
            <label for="formGroupExampleInput">Departure station</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter departure Station">
          </div>
  
          <div class="col">
            <label for="formGroupExampleInput">Departure date</label>
            <input type="date" class="form-control" id="formGroupExampleInput" placeholder="Select Date">
          </div>
  
          <div class="col">
            <label for="formGroupExampleInput">Departure time</label>
            <input type="time" class="form-control" id="formGroupExampleInput">
          </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="formGroupExampleInput">Destination station</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter destination station">
              </div>
        </div>
  
        <div class="row">
          <div class="col">
            <label for="formGroupExampleInput2">Return station</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Destination">
          </div>
  
          <div class="col">
            <label for="formGroupExampleInput2">Return date</label>
            <input type="date" class="form-control" id="formGroupExampleInput2" placeholder="Enter return date">
          </div>
  
          <div class="col">
            <label for="formGroupExampleInput2">Return time</label>
            <input type="time" class="form-control" id="formGroupExampleInput2">
          </div>
  
        </div>
  
  
      </form>
    </div>
  </div>
  